log
temp/*
!temp/cache
temp/cache/*
!temp/sessions
temp/sessions/*
/app/config/devmode
/app/config/*.neon
!/app/config/config.neon
/www/upload/webcam/*.jpg
/www/upload/webcam/
www/upload/webcam_ukazky
www/upload/webcam_ukazky/*
/www/upload/galleries
