#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	working: true

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: Ski\*Module\*Presenter


session:
	expiration: 14 days


services:
	#- Ski\Model\UserManager
	#- Ski\Forms\SignFormFactory

	router: Ski\RouterFactory::createRouter
	dibi: \DibiConnection(%database%)
	- Ski\Model\UserAuthentication(@dibi)
	- Ski\Model\Galleries(@dibi)
