{block title}Kontakty{/block}
{block content}
	
	<div class="box">
		<h1 class="header bggrey">Kontakty</h1>

		<div class="padding15 text-center">
			<h3>Informace</h3>
			<p>Email: info@skizleby.cz</p>
			<p>Telefon: +420 602 686 433</p>
		</div>
	</div>

{/block}
