{block title}Mapa areálu{/block}
{block content}
	
	<div class="box">
		<h1 class="header bggrey">Ski areál České Žleby</h1>
		<div class="padding15 text-center">
			<img src="/images/areal_cleared.jpg" />
		</div>
	</div>

{/block}
