
html{
	height:100%;
}

body{
	background: url("/images/snowland_2.jpg") no-repeat center top white;
	background-size: cover;
	background-attachment:fixed;
	font-family: 'Fira Sans', sans-serif !important;
	padding-top: 80px;
	height:100%;
}
#page{
	height: auto !important;
	height:100%;
	min-height:100%;
	margin-bottom:-80px;
}
#footerSpace{
	height:50px;
}
/*
h1, h2, h3, h4{
	font-weight:bold;
}
h1{
	font-size:25px;
}
h2{
	font-size:18px;
}
h3{
	font-size:15px;
}
h4{
	font-size:13px;
}
*/	

/*** classes ***/

.bold{
	font-weight:bold;
}
.normal{
	font-weight:normal;
}
.italic{
	font-style:italic;
}
.small{
	font-size: 11px;
}
.big{
	font-size: 24px;
}
.middle{
	vertical-align: middle;
}
.nowrap{
	white-space:nowrap;
}
.cleaner{
	clear:both;
}
.clearR{
	clear:right;
}
.clearL{
	clear:left;
}
.rightside{
	float:right;
}
.leftside{
	float: left;
}
.hidden{
	display:none;
}
.pointer{
	cursor:pointer;
}
.fullW{
	width:100%;
}
.text-success{
	color:#04c508;
}

.padding10{ padding:10px; }
.padding15{ padding:15px; }
.padding20{ padding:20px; }
.padding25{ padding:25x; }
.padding30{ padding:30px; }

.mt15{margin-top:15px;}
.mt30{margin-top:30px;}
.mb15{margin-bottom: 15px;}
.mb30{margin-bottom: 30px;}

.roundedAll{ -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.roundedTL{ -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; }
.roundedTR{ -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.roundedBL{ -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.roundedBR{ -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.roundedT{ -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px;
		-moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.roundedB{ -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px;
		-moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.roundedR{  -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px;
		-moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.roundedL{ -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px;
		-moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.rounded0{ -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }

.transparent75{
	zoom: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter:alpha(opacity=75);
	-moz-opacity:0.75;
	-khtml-opacity:0.75;
	opacity:0.75;
}
.transparent65{
	zoom: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter:alpha(opacity=65);
	-moz-opacity:0.65;
	-khtml-opacity: 0.65;
	opacity:0.65;
}
.transparent25{
	zoom: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter:alpha(opacity=25);
	-moz-opacity:0.25;
	-khtml-opacity: 0.25;
	opacity:0.25;
}

.error{
	color:#900;
}

/*** reset & bootstrap reset ***/

table td, table th{
	padding:4px 8px;
	vertical-align: middle;
}
table.auto{
	width:auto;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	vertical-align: middle;
}
.table > thead > tr:first-child > th,
.table > tbody > tr:first-child > th,
.table > thead > tr:first-child > td,
.table > tbody > tr:first-child > td{
	border-top:none;
}

input[type="radio"], input[type="checkbox"]{
	margin-top:0px;
}

/*** UI ***/

/* close anchor */
a.close{
	position:absolute;
	padding:2px;
	cursor:pointer;
	font-size:13px;
	line-height: 13px;
}
a.close.rightside{
	right:2px;
	top:2px;
}

/* flash messages */
.msgCont{
	position:relative;
	top:-30px;
}
.msgCont .flash{
	padding:15px;
	font-size:15px;
	line-height:20px;
	margin-top:5px;
	position:relative;
}
.msgCont .flash:first-child{
	margin-top:0px;
}
.msgCont .success{
	background-color:#93BC00;
	color:white;
}
.msgCont .error{
	color:white; /*#FF4848;*/
	background-color:#900;
}
.msgCont .info{
	color:yellow;
	background-color:#00AAE2;
}
.msgCont .close{
	top:0px;
	right:0px;
	position: relative;
	float: right;
}

.navbar{
	/*background-color:#9d9d9d;*/
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
}
.logo{
	display:inline-block;
	padding:8px 15px;
	line-height: 34px;
}
.logo img{
	height:34px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: #93BC00;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	background-color: #c9e2b3;
}
.navbar-fixed-top .container{
	position: relative;
}
.navbar .workingInfo{
	position:absolute;
	top:0;
	left:70px;
	line-height: 50px;
}

//* working info *//

.workingStatus{
	font-size: 24px;
	vertical-align: middle;
}
@media (max-width: 767px) {
	
}
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-nav > li > a{
		padding:15px 8px;
	}
	.logo{
		padding:8px 15px;
	}
	.navbar .workingInfo{
		position:relative;
		line-height:22px;
		left:0;
		top:5px;
		max-width:150px;
	}
	.navbar .workingStatus{
		font-size: 14px;
	}
}
@media (min-width: 992px) {
	.navbar .workingStatus{
		font-size: 18px;
	}
}
@media (min-width: 1200px) {
	.navbar .workingStatus{
		font-size: 22px;
	}
}


#footer{
	clear: both;
	width:100%;
	/*height: 50px;*/
	margin-top:30px;
	padding:15px;
	background-color: #204d74;
	color:white;
}
#footer a:hover{
	color:#9acfea;
}

.box{
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
	background-color: white;
	min-height: 300px;
	margin-bottom: 30px;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
}
.box .header h1, .box .header h2, .box .header h3, .box .header h4{
	margin:0px;
}
.box > .header, .box > h1, .box > h2, .box > h3, .box > h4{
	background-color:#204d74;
	position:relative;
	padding:17px 15px;
	margin:0px;
	color:white;
	
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px; 
}
.box > .header.textleft{
	text-align:left;
}
.box > .rounded0{
	-moz-border-radius-topleft:0px; -webkit-border-top-left-radius:0px; border-top-left-radius:0px;
	-moz-border-radius-topright:0px; -webkit-border-top-right-radius:0px; border-top-right-radius:0px;
}

/* homepage */

.homepage .date{
	margin: 30px 0px -10px;
	color: #4f4f4f;
	font-size: 13px;
}
.homepage h4{
	line-height: 1.4;
}
.homepage .actual .thumbs {
	text-align: center;
}
.homepage .actual .thumbs img{
	max-width: 100%;
	margin-bottom: 15px;
}

.homepage .map img{
	max-height:250px;
	max-width:100%;
}
.webcam img{
	max-width: 100%;
}

.forecast img{
	max-width: 100%;
}

.box.actual{
	min-height: auto;
	font-size: 15px;
}
.box.actual .image{
	max-width:17%;
}
.box.actual .image img{
	max-width:100%;
	max-height:100%;
}
.box.pohar{
	min-height: 220px;
}

/* webcam */
.thumbs{
	overflow: auto;
	overflow-x: auto;
	overflow-y: visible;
	white-space: nowrap;
}
.thumbs .thumb{
	display: inline-block;
	padding:10px;
}
.display{
	margin-top:15px;
}

/*** skiklub ***/
.skiclub .login .links{
	text-align: right;
	padding:8px;
}
.skiclub .login .links a{
	display:block;
	margin-bottom: 15px;
}

.skiclub .userMenu{
	padding:10px 2%;
	overflow: auto;
	margin-bottom: 1px solid #999;
	box-shadow: 0px 1px 3px #CCC;
}
.skiclub .userMenu a:not(:first-child){
	margin-right: 1%;
}


/*** galleries ***/
.galleries .listItem{
	margin-bottom: 15px;
}
.galleries .listItem .thumb{
	position:relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.galleries .listItem img{
	width:100%;
}

@media (max-width: 768px) {
	.galleries .listItem .thumb{
		height: 220px;
	}
}
@media (min-width: 768px) {
	.galleries .listItem .thumb{
		height: 220px;
	}
}
@media (min-width: 992px) {
	.galleries .listItem .thumb{
		height: 189px;
	}
}
@media (min-width: 1200px) {
	.galleries .listItem .thumb{
		height: 170px;
	}
}

.galleries .listItem .count{
	width:25px;
	height:25px;
	background-color:#d58512;
	color:white;
	text-align:center;
	line-height:25px;
	vertical-align:middle;
	position:absolute;
	right:5px;
	bottom:-5px;
}
.galleries .listItem .title{
	line-height: 24px;
	font-size: 15px;
}
.galleries.detail .padding15{
	position:relative;
}
.galleries.detail h3{
	margin-top:0px;
	text-align: center;
}
.galleries .display{
	margin-bottom: 15px;
}
.galleries .display .slick-slide img{
	margin:0 auto;
	max-width: 100%;
}
.galleries .display .slick-list{
	z-index: 1;
}
.galleries .display button{
	position:absolute;
	top:49%;
	z-index: 2;
}
.galleries .display button.slick-prev{
	left:0;
}
.galleries .display button.slick-next{
	right:0;
}
.galleries .thumbs .slick-track{
	height:110px;
}
.galleries .thumbs .slick-slide{
	padding:0px 5px;
}
.galleries .thumbs .slick-slide img{
	height:100%;
}





@media (max-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}